.city-advantages {
  background-color: #ffffff;
}

.city-advantages__item {
  position: relative;
  padding-left: 52px;

  &::before {
    content: "";
    width: 40px;
    height: 38px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }

  &--image-home::before {
    background-image: url("../img/icon-house.svg.svg");
  }

  &--image-gift::before {
    background-image: url("../img/icon-gift.svg.svg");
  }

  &--image-burger::before {
    background-image: url("../img/icon-burger.svg.svg");
  }
}
