@import url("header.less");

:root {
  --color-1: #81b3d2;
  --font-basic: "PT Sans", sans-serif;
  --text-size-mini: 3rem;
  --color_default: rgb(255, 255, 255);
  --whitepaper-inverse: #000000;
  --special-yellow: rgba(255, 191, 71, 1);
  --success: #5fbb2d;
  --basic-grey: #3d546f;
  --btn-color-black: #18171a;
  --white-opasity: rgba(255, 255, 255, 0.3);
  --basic-red: #ee3643;
  --color-icon: #888888;
  --basic-background: #f1f5f7;
  --light-violet: #f9f5f0;
  --basic-greylight: #c5c5c5;
  --grey-ligth: #eaeaea;
  --gray: #293449;
  --Error: #ba2732;
  --basic-green: #63a63e;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  // max-width: ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// a:link {}

// a:visited {}

// a:hover {}

// a:active {}

// В подготовленной автоматизации находятся три команды:
// npm test запускает тест editorconfig и stylelint;
// npm start запускает browsersync и следит за изменениями стилей и вёрстки;
// npm run build запускает компиляцию выбранного препроцессора.
